<div class="jumbotron jumbotron-fluid text-center pt-3">
  <div class="container">
    <h1 class="display-4">High-Tower 🗼</h1>
    <p class="lead">Make hiring process easy again!</p>
  </div>
</div>

<div class="d-flex justify-content-center p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <form [formGroup]="form" (ngSubmit)="searchUser()">
          <h1>User: {{ usernameField?.value | uppercase }}</h1>
          <div class="input-group mb-3">
            <input
              type="search"
              class="form-control"
              formControlName="username"
              placeholder="Username"
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <ng-container
            *ngFor="let validation of utilsService.validationMessages.username"
          >
            <div
              *ngIf="
                usernameField?.hasError(validation.type) && usernameFieldDirty
              "
              class="alert alert-warning"
              role="alert"
            >
              {{ validation.message }}
            </div>
          </ng-container>
        </form>

        <app-cards *ngFor="let u of users" [user]="u"></app-cards>
      </div>

      <div class="col-md-3">
        <h1>Trends</h1>

        <ul class="list-group">
          <ng-container *ngFor="let t of trends">
            <li class="list-group-item">{{ t.query | titlecase }}</li>
          </ng-container>
        </ul>
      </div>
      <div class="col-md-3">
        <h1>Favs</h1>

        <ul class="list-group">
          <ng-container *ngFor="let u of usersService.userFavs | async">
            <li class="list-group-item">{{ u.name | titlecase }}</li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
